

<div class="container">
 
    <canvas [id]="chartId">{{ chart }}</canvas>

    <div class="d-flex justify-content-evenly mt-3">
        <h3 class="">Expense in the year {{year}}</h3>
        <h3 class="">Total : <b class="text-danger">{{totalExpense}}</b></h3>
    </div>
    <div (change)="Onchange()" class="d-flex justify-content-evenly">
        <div class="form-check">
            <input class="form-check-input" type="radio" value="bar" name="typeY" [(ngModel)]="typeY">
            <label class="form-check-label">BarChart</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" value="line" name="typeY" [(ngModel)]="typeY">
            <label class="form-check-label">Line Chart</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" value="doughnut" name="typeY" [(ngModel)]="typeY">
            <label class="form-check-label">Doughnut</label>
        </div>
        <!-- <div class="form-check">
            <input class="form-check-input" type="radio" value="radar" name="typeY" [(ngModel)]="typeY">
            <label class="form-check-label">Radar</label>
        </div> -->


    </div>
</div>