<section class="banner">
    <div class="container text-center">

        <h1 class="display-4">Welcome to Expense Tracker System</h1>

        <div>

            <p>Expense tracking systems may also be used to track employee expenses, such as business travel and entertainment expenses.</p>
            <p>Click on getting start and save your Expenses ...</p>
        </div>
        <div>
            <a routerLink="dashboard" class="btn btn-outline-warning">Getting
                Started</a>
        </div>
    </div>
</section>
<div class="container">
    <!-- carousel section -->
   
    <hr />
    <section>
        <div class="container">
            <div class="row">
                <h2 class="text-center">Services <span class="fa fa-certificate text-success fa-spin"></span></h2>
                
                <div class="col-md-4 mt-3">
                    <div class="card">
                        <div class="card-body">
                            You’ll know exactly where your money is going every month—so you can cut spending where it’s getting out of hand.
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mt-3">
                    <div class="card">
                        <div class="card-body">
                            Make it even easier: set up alerts for bill reminders, large purchases and more, so you’re really in the know with your finances.
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mt-3">
                    <div class="card">
                        <div class="card-body">
                            Extra convenient: Expensify automatically converts to any currency and offers integrations with most accounting software.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <hr>
    <section>
        <div class="container text-center">
            <h2><span class="fa fa-address-card-o"></span> Contact Us</h2>
        </div>
        <div class="container d-flex justify-content-center">
            <div class="card contact-card">
                <div class="card-body">
                    <form>
                        <div class="form-group mt-3">
                            <label class="form-label">Your Email</label>
                            <input class="form-control" placeholder="Email Address">
                        </div>
                        <div class="form-group mt-3">
                            <label class="form-label">Your Query</label>
                            <input class="form-control" placeholder="Query">
                        </div>
                        <div class="form-group mt-3">
                            <label class="form-label">Detailed Description</label>
                            <textarea class="form-control" placeholder="description"></textarea>
                        </div>
                        <div class="container mt-3 text-center d-flex gap-2">
                            <button mat-flat-button color="primary">Submit</button>
                            <button mat-flat-button color="accent">Reset</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>